<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Wise</title>
    <link rel="stylesheet" href="/css/log/morador.css">
    <link rel="icon" type="imagem/png" href="/img/home/favicon.ico"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
          <!-- Conteúdo do cabeçalho -->
          <div class="ContainerCenter">
            <a class="LinkHeader" href="/login/perfil/1" onclick="substituirId(event)">Perfil</a>
            <a class="LinkHeader" href="/login/morador">Moradores</a>
            <a class="LinkHeader" href="/logout">Sair</a>
          </div>
        </header>
        
        <main>
          <!-- Conteúdo principal -->
          <div class="ContainerButton">
            <a class="AdicionarConta" href="/login/morador/adicionar">Adicionar</a>
            <a class="AdicionarConta" href="/login/morador/apagar">Apagar</a>
          </div>

          <div class="ContainerTabela">
            <table>
                <tr>
                    <th>ID Usuário</th>
                    <th>Nome</th>
                    <th>Apartamento</th>
                    <th>Email</th>
                    <th>Telefone</th>
                </tr>
                <% moradores.forEach(all => { %>
                    <tr>
                        <td><%= all.MOR_ID %> </td>
                        <td><%= all.MOR_NOME %></td>
                        <td><%= all.MOR_APARTAMENTO %></td>
                        <td><%= all.MOR_EMAIL %></td>
                        <td><%= all.MOR_TELEFONE %></td>
                    </tr>
                    <% }) %>
            </table>
        </div>
        </main>
      </div>
</body>
</html>